web/longwebcam/public/xml/upload_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.longwebcam.org/xml/upload_response" xmlns="http://www.longwebcam.org/xml/upload" elementFormDefault="qualified">
  <xs:element name="upload_response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
